<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>countriesServlet</servlet-name>
        <servlet-class>com.company.watches.web.CountriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>countriesServlet</servlet-name>
        <url-pattern>/country/*</url-pattern>
    </servlet-mapping>

</web-app>
